.countries {
  display: flex;
  justify-content: center;
  gap: 3rem;
  max-width: 110rem;
  margin: 2rem 0;
}

.countries_btns {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 3rem;
}

