.like_btn {
  padding: 0.8rem 1.6rem;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-radius: 1.6rem;
  border: 2px solid #292d32;
  background: #fff;
  cursor: pointer;
}

.count_num {
  font-size: 2rem;
  font-weight: bold;
}

.btn_text {
  font-size: 1.6rem;
  font-weight: 500;
}
