.nav_item {
  padding: 2rem;
  color: #000;
  font-size: 16px;
  transition: color 0.2s ease-in;
}

.nav_item:hover {
  color: #26d426;
}

.active_nav_item {
  padding: 2rem;
  color: #fff;
  font-size: 16px;
  transition: color 0.2s ease-in;
}
