.country_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.country_img {
  flex-basis: 30rem;
}

.country_img > img {
  width: 100%;
}

.country_description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.country_description > h3 {
  font-size: 3.2rem;
}

.country_description > p {
  font-size: 2rem;
}
