.country_form {
  border: 1px solid rgba(0, 0, 0, 0.526);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.create_btn {
  padding: 0.8rem;
  border-radius: 1.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
}

.errorMsg {
  color: red;
  font-size: 1.6rem;
}
