.country_card {
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: black;
  height: 40rem;
}

.country_img {
  height: 10rem;
  width: 20rem;
}
